<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.adinn.outdoors.square_brace.adinn_outdoors">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--FC:BF:B6:83:AA:A3:6D:8B:68:50:45:24:F2:E7:E3:D5:3B:37:56:F8-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginPage" />
        <activity android:name=".Activities.RegisterPage" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="Adinn Outdoors"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Activities.Services"
            android:label="Services"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.PrdouctActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AboutUs"
            android:label="About Us"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.WishList"
            android:label="My Wishlist"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.ProductDetails"
            android:label="Product Details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.ContactUs"
            android:label="Contact Us"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.CartActivity"
            android:label="My Cart"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.BookingFormActivity"
            android:label="Booking Form"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.CategoryProductView"
            android:label="Products"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.OrderDetails"
            android:label="My Orders"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.InvoiceWebView"
            android:label="Invoice"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.NotificationActivity"
            android:label="Offers"
            android:theme="@style/AppTheme" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <service
            android:name=".Firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>